body {
    font-family: 'Josefin Sans', sans-serif;
}


*:focus {
    outline: 0 !important;
}

.white-popup {
    position: relative;
    background: #252525;;
    padding: 20px;
    width: auto;
    max-width: 1000px;
    margin: 20px auto;
    color: #E94B4A;
}
.mfp-title {
    color: #E94B4A;
    text-align: justify;
}

.no-margin-padding {
    padding: 0px;
    margin: 0px;
}

.vrata {
    width: 100%;
    overflow: hidden;
}

.stul {
    width: 100%;

}

.velky-block {
    background-color: #252525;
    -webkit-transition: background-color 0.25s ease-out;
    -moz-transition: background-color 0.25s ease-out;
    -o-transition: background-color 0.25s ease-out;
    -ms-transition: background-color 0.25s ease-out;
    transition: background-color 0.25s ease-out;
    cursor: pointer;
    color: #E94B4A;
}

.druhy-velky {
    margin-top: 15px;
}

a, a:visited, a:hover, a:active {
    color: inherit;
}

.velky-block:hover {
    background-color: #E94B4A;
    color: black;
}

.maly-block {
    background-color: #E94B4A;
    color: black;
}

body {
    background-color: #3F3E46;
}

.popis {
    padding: 10px;
    margin: 5px;
    text-align: center;
}

.no-right-padding {
    padding-right: 0;
}

.padding-top {
    padding-top: 15px;
}

.navbar {
    border-radius: 0px;
    margin-bottom: 15px;
}

.hamburger-icon {
    max-height: 23px;
    position: absolute;
    left: 2%;
    top: 1em;
}

.hamburger-icon:hover {
    cursor: pointer;
}

.menu-text {
    position: absolute;
    left: 5vw;
    top: 2vh;
    font-size: 1.5em;
    color: #E94B4A;
}

.tel-text {
    position: absolute;
    font-size: 1.4em;
    color: #E94B4A;
    right: 3vw;
    top: 2vh;
}

.menu-text:hover {
    cursor: pointer;
}

.nav {
    display:flex;
    justify-content: space-between;
}

.maly-nav {
    height: 52px;
    margin-bottom: 15px;
    transition: all 450ms cubic-bezier(0.690, 1.650, 0.035, 0.775);
}

.navbar-nav {
    width: 100%;
    text-align: center;
}

.onas-text {
    color: #E94B4A;
    font-size: 16px;
    padding: auto;
}

.onas-text-parent {
    width: 100%;
    padding: 0 15% 0 15%;
    justify-content: space-between;
    display: flex;
    text-align: justify;
}


.kontakt-text {
    color: #E94B4A;
    font-size: 16px;
}

li#kontakt-text.kontakt-text {
    padding-left: 5%;
}


.maly-nav:hover {
    height: 54px;
    margin-bottom: 13px;
}

.velky-nav {
    height: 240px;
    transition: height 1.5s easeOutElastic;
    transition: all 450ms cubic-bezier(0.690, 1.650, 0.035, 0.775);
    word-wrap: break-word;
}

.modal-vrata-png {
    max-width: 100%;
    overflow: hidden;
}

.modal-vrata {
    padding: 15px;
}

.leva {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}

.sipka {
    width: 40%;
    vertical-align: middle;
    margin-left: auto;
    margin-right: auto;
}

.sipka:hover {
    cursor: pointer;
}

.gallerie {
    display: inline-block;
    position: relative;
}

span {
    display: inline-block;
    vertical-align: middle;
}

.sipka-div {
    display: flex;
}

.modal-dialog {
    width: 60%;
}

.container {
    width: 80% !important;
}

@media (max-width: 1600px) {
    .container {
        width: 100% !important;
        margin: 0;
        padding: 0;
    }
}


