body {
    font-family: 'Josefin Sans', sans-serif;
}


*:focus {
    outline: 0 !important;
}

.white-popup {
    position: relative;
    background: #252525;;
    padding: 20px;
    width: auto;
    max-width: 1000px;
    margin: 20px auto;
    color: #f90202;
}
.mfp-title {
    color: #f90202;
    text-align: justify;
}

.no-margin-padding {
    padding: 0px;
    margin: 0px;
}

.vrata {
    width: 100%;
    overflow: hidden;
}

.stul {
    width: 100%;

}

.velky-block {
    background-color: #252525;
    -webkit-transition: background-color 0.25s ease-out;
    -moz-transition: background-color 0.25s ease-out;
    -o-transition: background-color 0.25s ease-out;
    -ms-transition: background-color 0.25s ease-out;
    transition: background-color 0.25s ease-out;
    cursor: pointer;
    color: #f90202;
    margin-bottom: 15px;
}

.druhy-velky {
    margin-top: 15px;
}

a, a:visited, a:hover, a:active {
    color: inherit;
}

.velky-block:hover {
    background-color: #f90202;
    color: black;
}

.maly-block {
    background-color: #f90202;
    color: black !important;
    margin-bottom: 15px;
}

.maly-block:hover {
      background-color: #252525 !important;
      color: #f90202 !important;
}

body {


  background:
    /* top, transparent black, faked with gradient */
    linear-gradient(
      rgba(0, 0, 0, 0.6),
      rgba(0, 0, 0, 0.6)
    ),
    /* bottom, image */
    url('https://s-media-cache-ak0.pinimg.com/originals/45/e6/85/45e685dff68896db39f13b83a237b0fc.jpg');
}

.popis {
    padding: 10px;
    margin: 5px;
    text-align: center;
    color: white;
    font-size: 20px;
}

.no-right-padding {
    padding-right: 0;
}

.padding-top {
    padding-top: 15px;
}

.navbar {
    border-radius: 0px;
    margin-bottom: 15px;
}

.hamburger-icon {
    max-height: 23px;
    position: absolute;
    left: 2%;
    top: 1em;
}

.hamburger-icon:hover {
    cursor: pointer;
}

.menu-text {
    position: absolute;
    left: 55px;
    top: 12px;
    font-size: 1.5em;
    color: #f90202;

}

.logo{
  position: absolute;
  color: #f90202;
  right: 48%;
  top: 12px;
}

.logo img{
  height: 48px;
  width: auto;
}

.tel-text {
    position: absolute;
    font-size: 1.4em;
    color: #f90202;
    right: 3vw;
    top: 12px;
}

.menu-text:hover {
    cursor: pointer;
}

.nav {
    display:flex;
    justify-content: space-between;
}

.maly-nav {
    height: 52px;
    margin-bottom: 15px;
    transition: all 450ms cubic-bezier(0.690, 1.650, 0.035, 0.775);
}

.navbar-nav {
    width: 100%;
    text-align: center;
}

.onas-text {
    color: white;
    font-size: 20px;
    padding: auto;
    padding-bottom: 50px;
}

.onas-text-parent {
    width: 100%;
    padding: 0 15% 0 15%;
    justify-content: space-between;
    display: flex;
    text-align: justify;
}

.kontakt{
  margin-left: 1vh;
}

.nav-nadpis{
  font-size: 25px;
  color: #f90202;
}

#nav-textace{
  padding-top: 5px;
}

.kontakt-text{
  color: white;
  font-size: 20px;
  padding: auto;
}

.kontakt-udaje{
  color: white !important;
  font-size: 20px;
}

.kontakt-udaje:hover{
  text-decoration: none;
}





li#kontakt-text.kontakt-text {
    padding-left: 5%;
}


.maly-nav:hover {
    height: 54px;
    margin-bottom: 13px;
}

.velky-nav {
    height: auto;
    transition: height 1.5s easeOutElastic;
    transition: all 450ms cubic-bezier(0.690, 1.650, 0.035, 0.775);
    word-wrap: break-word;
}

.modal-vrata-png {
    max-width: 100%;
    overflow: hidden;
}

.modal-vrata {
    padding: 15px;
}

.leva {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}

.sipka {
    width: 40%;
    vertical-align: middle;
    margin-left: auto;
    margin-right: auto;
}

.sipka:hover {
    cursor: pointer;
}

.gallerie {
    display: inline-block;
    position: relative;
}

span {
    display: inline-block;
    vertical-align: middle;
}

.sipka-div {
    display: flex;
}

.modal-dialog {
    width: 60%;
}

.container {
    width: 80% !important;
}



@media (max-width: 1600px) {
    .container {
        width: 100% !important;
        margin: 0;
        padding: 0;
    }
}

@media (max-width: 1340px) {
  .velky-nav {
      height: auto;
      transition: height 1.5s easeOutElastic;
      transition: all 450ms cubic-bezier(0.690, 1.650, 0.035, 0.775);
      word-wrap: break-word;
  }
}

@media (max-width: 991px) {
  #kontakt-sloupec {
    text-align: center;
  }

  iframe{
    width: 100%;
  }

  #kontakt-text{
    text-align: justify;
  }
 .maly-bez-margin-padding{
   margin-left: 0;
   margin-right: 0;
   padding-left: 0;
   padding-right: 0;
 }
  .velky-nav{
    height: auto;
  }
  .onas-text-parent {
      width: 100%;
      justify-content: space-between;
      display: flex;
      text-align: justify;
  }

}

@media (max-width: 909px) {
  .velky-nav{
    height: auto;
  }

  #onas-text{
    margin-top: 29px;
  }

}

@media (max-width: 807px) {
.velky-nav{
  height: auto;
}

}


  @media (max-width: 770px) {

    .onas-text-parent {
        width: 100%;
        padding: 0;
        margin: 0 0 0 0;
        justify-content: space-between;
        display: flex;
        text-align: justify;
    }
    .container-fluid{
      margin:0;
      padding: 0;
    }
    #nav-textace-div{
      margin: 0;
      padding: 0;
    }
    #nav-textace{
      margin: 0;
      padding: 0;
    }
}
